### Entrenando un algoritmo de machine learning

Para el presente entregable seleccioné un dataset obtenido del Instituto Nacional de Estadistica de Uruguay (INE).

El mismo corresponde a la encuesta continua de hogares realizada en el año 2017.

El objetivo del analisis sera trabajar con predicciones del ingreso en relación de dependencia de los encuestados.

Archivos utilizados:

P_2017_Terceros.sav -> el dataset que contiene los datos recopilados en la encuesta continua de hogares.
Dicccionario de Variables ECH 2017 -> funciona como anexo para determinar a que corresponde la codificación de cada columna del dataset.

In [45]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [46]:
dfP2017 = pd.read_spss(r'..\\data\\P_2017_Terceros.sav')

In [47]:
columns = dfP2017.columns.values.tolist()
print(columns)

['numero', 'nper', 'anio', 'mes', 'dpto', 'nomdpto', 'secc', 'segm', 'loc_agr_13', 'nom_loc_agr_13', 'ccz', 'barrio', 'nombarrio', 'estred13', 'region_3', 'region_4', 'pesoano', 'pesosem', 'pesotri', 'pesomen', 'e557', 'e558', 'e26', 'e27', 'e29_1', 'e29_2', 'e29_3', 'e29_4', 'e29_5', 'e29_5_1', 'e29_6', 'e30', 'e31', 'e32', 'e33', 'e34', 'e35', 'e36', 'e185', 'e186_1', 'e186_2', 'e186_3', 'e186_4', 'e37', 'e37_2', 'e234_2', 'e38', 'e38_1', 'e39', 'e39_2', 'e235_2', 'e236', 'e236_2', 'e236_4', 'e45_1', 'e45_1_1', 'e45_1_1_1', 'e45_1_2', 'e45_1_2_1', 'e45_2', 'e45_2_1', 'e45_2_1_1', 'e45_2_2', 'e45_2_2_1', 'e45_3', 'e45_3_1', 'e45_3_1_1', 'e45_3_2', 'e45_3_2_1', 'e45_4', 'e45_4_1', 'e45_4_2', 'e45_4_3', 'e45_4_3_1', 'e45_5', 'e45_5_1', 'e45_5_1_1', 'e45_6', 'e45_7', 'e45_7_1', 'e237', 'e46', 'e47', 'e47_1', 'e190', 'e190_1', 'e190_1_1', 'e190_2', 'e190_2_1', 'e190_3', 'e190_3_1', 'e191', 'e192', 'e48', 'e49', 'e238', 'e239', 'e240_1', 'e240_2', 'e241', 'e242', 'e242_1', 'e193', 'e194', 'e243_1', 'e243_2', 'e244', 'e245', 'e245_1', 'e196', 'e196_1', 'e196_2', 'e196_3', 'e197', 'e197_1', 'e51_2', 'e51_3', 'e198', 'e199', 'e200', 'e200_1', 'e200_2', 'e200_3', 'e201', 'e201_1', 'e202_1', 'e202_2', 'e202_3', 'e202_4', 'e202_8', 'e202_5', 'e202_6', 'e202_6_1', 'e202_7', 'e51_4', 'e210_1', 'e51_5', 'e210_2', 'e51_6', 'e209_1', 'e210_3', 'e211', 'e211_1', 'e211_2', 'e211_3', 'e562', 'e212', 'e212_1', 'e213', 'e51_7', 'e51_7_1', 'e214_1', 'e215', 'e215_1', 'e216', 'e51_8', 'e217_1', 'e218', 'e218_1', 'e219', 'e51_9', 'e220_1', 'e221', 'e221_1', 'e222', 'e51_10', 'e223_1', 'e224', 'e224_1', 'e225', 'e51_11', 'e226_1', 'e559', 'e559_1', 'e559_2', 'e560', 'e560_1', 'e560_1_1', 'e560_2', 'e560_2_1', 'e561', 'e561_1', 'e59', 'e246', 'e246_1', 'e247', 'e60', 'e61', 'e248', 'e62', 'e249', 'e250', 'e64_1', 'e64_2', 'e64_3', 'e64_4', 'e64_5', 'e64_6', 'e64_7', 'e65', 'f66', 'f67', 'f261', 'f68', 'f69', 'f70', 'f71_2', 'f72_2', 'f73', 'f74', 'f75', 'f76_2', 'f262', 'f263', 'f264', 'f264_1', 'f265', 'f265_1', 'f77', 'f78', 'f79', 'f79_1', 'f80', 'f80_2', 'f81', 'f82', 'f83', 'f84', 'f266', 'f267', 'f268', 'f85', 'f86', 'f87', 'f88_1', 'f88_2', 'f89', 'f90_2', 'f91_2', 'f92', 'f93', 'f94', 'f94_2', 'f95', 'f96', 'f97', 'f98', 'f99', 'f100', 'f101', 'f102', 'f103', 'f104', 'f105', 'f106', 'f107', 'f108', 'f109', 'f110', 'f111', 'f112', 'f113', 'f114', 'f115', 'f116', 'f117', 'f118_1', 'f118_2', 'f119_2', 'f120_2', 'f121', 'f122', 'f123', 'f124_1', 'f124_2', 'f124_3', 'f124_4', 'f124_5', 'f125', 'g_id_1', 'g_id_2', 'g_id_3', 'g_id_1a', 'g_id_2a', 'g_id_3a', 'g126_1', 'g126_2', 'g126_3', 'g126_4', 'g126_5', 'g126_6', 'g126_7', 'g126_8', 'g250_1', 'g250_2', 'g250_5', 'g250_3', 'g250_4', 'g127', 'g127_1', 'g127_2', 'g127_3', 'g128', 'g128_1', 'g129', 'g129_1', 'g129_2', 'g130', 'g130_1', 'g131', 'g131_1', 'g132', 'g132_1', 'g132_2', 'g132_3', 'g133', 'g133_1', 'g133_2', 'g_st_1', 'g134_1', 'g134_2', 'g134_3', 'g134_4', 'g134_5', 'g134_6', 'g134_7', 'g134_8', 'g251_1', 'g251_2', 'g251_5', 'g251_3', 'g251_4', 'g135', 'g135_1', 'g135_2', 'g135_3', 'g136', 'g136_1', 'g137', 'g137_1', 'g137_2', 'g138', 'g138_1', 'g139', 'g139_1', 'g140', 'g140_1', 'g140_2', 'g140_3', 'g141', 'g141_1', 'g141_2', 'g_itnd_1', 'g142', 'g_itnd_2', 'g143', 'g144', 'g144_1', 'g144_2_1', 'g144_2_2', 'g144_2_3', 'g144_2_4', 'g144_2_5', 'g_itnd_3', 'g145', 'g146', 'g147', 'g_it_1', 'g148_1_1', 'g148_1_2', 'g148_1_3', 'g148_1_4', 'g148_1_5', 'g148_1_6', 'g148_1_7', 'g148_1_8', 'g148_1_9', 'g148_1_12', 'g148_1_10', 'g148_1_11', 'g_it_2', 'g148_2_1', 'g148_2_2', 'g148_2_3', 'g148_2_4', 'g148_2_5', 'g148_2_6', 'g148_2_7', 'g148_2_8', 'g148_2_9', 'g148_2_12', 'g148_2_10', 'g148_2_11', 'g148_3', 'g148_4', 'g148_5_1', 'g148_5_2', 'g149', 'g149_1', 'g150', 'g255', 'g256', 'g152', 'g151_5', 'g151_1', 'g151_2', 'g151_3', 'g151_3_1', 'g151_4', 'g257', 'g153', 'g153_1', 'g153_2', 'g258', 'g258_1', 'g154', 'g154_1', 'pobpcoac', 'subempleo', 'mto_cuota', 'mto_emer', 'mto_hogcon', 'mto_desay', 'mto_almue', 'mto_vacas', 'mto_oveja', 'mto_caball', 'lecheenpol', 'indabajo', 'indaplomo', 'indadiabet', 'indarenal', 'indarendia', 'indaceliac', 'indatuberc', 'indaoncolo', 'indasida', 'indaucc', 'PT1', 'PT2', 'PT4', 'pobre06', 'indigente06']

In [48]:
dfP2017.head(2)

,numero,nper,anio,mes,dpto,nomdpto,secc,segm,loc_agr_13,nom_loc_agr_13,...,indaceliac,indatuberc,indaoncolo,indasida,indaucc,PT1,PT2,PT4,pobre06,indigente06
0,2017000001,1.0,2017,Enero,Montevideo,MONTEVIDEO,17,006,01010,Montevideo,...,689.0,585.0,585.0,585.0,665.0,28779.0,28779.0,28779.0,0.0,0.0
1,2017000001,2.0,2017,Enero,Montevideo,MONTEVIDEO,17,006,01010,Montevideo,...,689.0,585.0,585.0,585.0,665.0,10100.0,0.0,0.0,0.0,0.0

A continuación se definen las variables a utilizar en el analisis y se genera un dataset independiente para realizar modificaciones sin afectar al dataset original

In [49]:
df_ysos = pd.DataFrame()

# variable de respuesta
df_ysos['ysos_dep'] = dfP2017['g126_1'] + dfP2017['g126_2'] + dfP2017['g126_3'] + dfP2017['g126_4'] \
                    + dfP2017['g134_1'] + dfP2017['g134_2'] + dfP2017['g134_3'] + dfP2017['g134_4']

# caracteristicas personales
df_ysos['edad'] = dfP2017['e27']
df_ysos['sexo'] = dfP2017['e26']
df_ysos['estrato'] = dfP2017['estred13']
df_ysos['ascendencia_negra'] = dfP2017['e29_1']
df_ysos['estado_civil'] = dfP2017['e36']
df_ysos['asiste_comedor']=dfP2017['e559']
df_ysos['seguro_privado']=dfP2017['e45_3']
df_ysos['pobre']=dfP2017['pobre06']
df_ysos['indigente']=dfP2017['indigente06']

## educación
df_ysos['anios_educ'] = dfP2017['e51_2'] + dfP2017['e51_3'] + dfP2017['e51_4'] + dfP2017['e51_5'] + dfP2017['e51_6'] \
                        + dfP2017['e51_7'] + dfP2017['e51_8'] + dfP2017['e51_9'] + dfP2017['e51_10'] + dfP2017['e51_11']

## relación de empleo
df_ysos['antiguedad'] = dfP2017['f88_2']
df_ysos['categoria_ocup'] = dfP2017['f73']
df_ysos['dimension_empresa']=dfP2017['f77']

df_ysos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118268 entries, 0 to 118267
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ysos_dep           118268 non-null  float64
 1   edad               118268 non-null  float64
 2   sexo               118268 non-null  category
 3   estrato            118268 non-null  category
 4   ascendencia_negra  118268 non-null  category
 5   estado_civil       118268 non-null  category
 6   asiste_comedor     118268 non-null  category
 7   seguro_privado     118268 non-null  category
 8   pobre              118268 non-null  float64
 9   indigente          118268 non-null  float64
 10  anios_educ         118268 non-null  float64
 11  antiguedad         118268 non-null  float64
 12  categoria_ocup     118268 non-null  category
 13  dimension_empresa  118268 non-null  category
dtypes: category(8), float64(6)
memory usage: 6.3 MB

In [50]:
# genero archivo con datos a utilizar para alojar en Github, ya que el archivo .sav es muy pesado y no se puede guardar incluir al hacer commit a github.
export = '../data/ECH2017.xlsx'
df_ysos.to_excel(export, index=False)

In [51]:
df_ysos['dimension_empresa'].dtype

CategoricalDtype(categories=[                   0.0,  'De 10 a 19 personas',
                     'De 2 a 4 personas',  'De 20 a 49 personas',
                     'De 5 a 9 personas', 'De 50 personas o más',
                           'Una persona'],
, ordered=False)

In [52]:
df_ysos.head(2)

,ysos_dep,edad,sexo,estrato,ascendencia_negra,estado_civil,asiste_comedor,seguro_privado,pobre,indigente,anios_educ,antiguedad,categoria_ocup,dimension_empresa
0,18000.0,70.0,Hombre,Montevideo Bajo,No,Divorciado/a,No,No,0.0,0.0,6.0,7.0,Asalariado/a privado/a,De 10 a 19 personas
1,0.0,81.0,Mujer,Montevideo Bajo,No,Divorciado/a,No,No,0.0,0.0,4.0,0.0,0.0,0.0

In [53]:
#se eliminan del dataset todos los ingresos menores a 0
df_ysos = df_ysos[df_ysos['ysos_dep'] > 0]

In [54]:
df_ysos = df_ysos.loc[(df_ysos['categoria_ocup'] == "Asalariado/a privado/a") | (df_ysos['categoria_ocup'] == "Asalariado/a público/a")]

In [55]:
#transformación logaritmica de la variable ingresos
df_ysos['l_ysos_dep'] = np.log(df_ysos['ysos_dep'])
df_l_ysos = df_ysos.drop(columns=['ysos_dep'])
df_l_ysos.head(2)

,edad,sexo,estrato,ascendencia_negra,estado_civil,asiste_comedor,seguro_privado,pobre,indigente,anios_educ,antiguedad,categoria_ocup,dimension_empresa,l_ysos_dep
0,70.0,Hombre,Montevideo Bajo,No,Divorciado/a,No,No,0.0,0.0,6.0,7.0,Asalariado/a privado/a,De 10 a 19 personas,9.798127
2,52.0,Hombre,Costa Este,No,Casado/a (incluye separado/a y aún no se divor...,No,No,0.0,0.0,6.0,32.0,Asalariado/a público/a,De 50 personas o más,10.778956

A continuacón se realizan transformaciones a ciertas columnas para contar con la información agrupada de una forma que permita realizar analisis de forma más eficiente.

In [56]:
def map_estrato(estrato):
    if estrato in ['Montevideo Alto']:
        return 'Mdeo - Alto'
    elif estrato in ['Montevideo Medio', 'Montevideo Medio Bajo', 'Montevideo Medio Alto']:
        return 'Mdeo - Medio'
    elif estrato in ['Montevideo Bajo']:
        return 'Mdeo - Bajo'
    elif estrato in ['Zona Metropolitana']:
        return 'Metropolitana'
    elif estrato in ['Centro Norte', 'Centro Sur', 'Costa Este', 'Litoral Norte', 'Litoral Sur','Norte']:
        return 'Interior'

# se crea nueva columna que contenga los nombres de los grupos
df_l_ysos['estrato'] = df_l_ysos['estrato'].apply(map_estrato)

In [57]:
def map_dimenisonempresa(dimension):
    if dimension in ['Una persona', 'De 2 a 4 personas', 'De 5 a 9 personas', 'De 10 a 19 personas']:
        return 'Empresa_chica'
    elif dimension in ['De 20 a 49 personas']:
        return 'Empresa_mediana'
    elif dimension =='De 50 personas o más':
        return 'Empresa_grande'
    elif dimension ==0.0:
        return 'N/A'

# se crea nueva columna que contenga los nombres de los grupos
df_l_ysos['dimension_empresa'] = df_l_ysos['dimension_empresa'].apply(map_dimenisonempresa)

In [58]:
df_l_ysos.head(2)

,edad,sexo,estrato,ascendencia_negra,estado_civil,asiste_comedor,seguro_privado,pobre,indigente,anios_educ,antiguedad,categoria_ocup,dimension_empresa,l_ysos_dep
0,70.0,Hombre,Mdeo - Bajo,No,Divorciado/a,No,No,0.0,0.0,6.0,7.0,Asalariado/a privado/a,Empresa_chica,9.798127
2,52.0,Hombre,Interior,No,Casado/a (incluye separado/a y aún no se divor...,No,No,0.0,0.0,6.0,32.0,Asalariado/a público/a,Empresa_grande,10.778956

In [59]:
#Se agrupan las variables separandolas en categoricas y numericas.

categorical_columns = ['sexo', 'categoria_ocup','asiste_comedor','ascendencia_negra','estrato','seguro_privado', 'dimension_empresa']
numerical_columns = ['edad', 'anios_educ', 'antiguedad']

# Se genera la función transformadora
column_transform = make_column_transformer(
    (OneHotEncoder(drop='if_binary'), categorical_columns), # cuando son dos categorías, elimina una
    (StandardScaler(), numerical_columns), # comentado mientras no se decida estandarizar
    remainder='passthrough', # deja el resto de las columnas sin transformar
    verbose_feature_names_out=False)

In [60]:
df_l_ysos_transf = pd.DataFrame(
    column_transform.fit_transform(df_l_ysos), 
    columns=column_transform.get_feature_names_out()
)

df_l_ysos_transf.head()

,sexo_Mujer,categoria_ocup_Asalariado/a público/a,asiste_comedor_Sí,ascendencia_negra_Sí,estrato_Interior,estrato_Mdeo - Alto,estrato_Mdeo - Bajo,estrato_Mdeo - Medio,estrato_Metropolitana,seguro_privado_Sí,dimension_empresa_Empresa_chica,dimension_empresa_Empresa_grande,dimension_empresa_Empresa_mediana,edad,anios_educ,antiguedad,estado_civil,pobre,indigente,l_ysos_dep
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.29169,-1.207866,-0.164103,Divorciado/a,0.0,0.0,9.798127
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.896131,-1.207866,2.43851,Casado/a (incluye separado/a y aún no se divor...,0.0,0.0,10.778956
2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.120821,0.966088,-0.892834,Divorciado/a,0.0,0.0,10.404263
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.887083,-0.773075,-0.78873,Soltero,0.0,0.0,7.783224
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,-0.266835,-1.207866,-0.476416,Soltero,0.0,0.0,10.043249

In [61]:
predictoras = df_l_ysos_transf.drop('l_ysos_dep', axis=1)

In [62]:
df_l_ysos.head(2)

,edad,sexo,estrato,ascendencia_negra,estado_civil,asiste_comedor,seguro_privado,pobre,indigente,anios_educ,antiguedad,categoria_ocup,dimension_empresa,l_ysos_dep
0,70.0,Hombre,Mdeo - Bajo,No,Divorciado/a,No,No,0.0,0.0,6.0,7.0,Asalariado/a privado/a,Empresa_chica,9.798127
2,52.0,Hombre,Interior,No,Casado/a (incluye separado/a y aún no se divor...,No,No,0.0,0.0,6.0,32.0,Asalariado/a público/a,Empresa_grande,10.778956

In [63]:
X_train, X_test, y_train, y_test = train_test_split(predictoras,
                                                    df_l_ysos_transf['l_ysos_dep'], 
                                                    test_size=0.20, 
                                                    random_state=1234)

#### Regresión Lineal

A continuación se plantea el modelo propiamente dicho, para una primera instancia se trabaja solamente con la variable que toma los años de educación del encuestado.

In [64]:
reg = linear_model.LinearRegression()

In [65]:
modelo_X_train = X_train[['anios_educ']]
modelo_X_test = X_test[['anios_educ']]

modelo = reg.fit(modelo_X_train, y_train)

In [66]:
# predicción en train
modelo_y_train_pred = modelo.predict(modelo_X_train)

# predicción en test
modelo_y_test_pred = modelo.predict(modelo_X_test)

In [67]:
modelo_mse_train = mean_squared_error(y_train, modelo_y_train_pred)
print(f"Error cuadratico medio del modelo en train: ", modelo_mse_train)

Error cuadratico medio del modelo en train:  0.4840089924851105

In [68]:
modelo_mse_test = mean_squared_error(y_test, modelo_y_test_pred)
print(f"Error cuadratico medio del modelo en test: ", modelo_mse_test)

Error cuadratico medio del modelo en test:  0.4834283901748652